{% extends 'layout/menu.html' %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stylepag.css' %}">
{% endblock %}

{% block content %}

<div class="contenido">

  <br>

  <div class="barra-top">
    <div class="barra-busqueda">
        <form method="get">
            <input type="text" name="q"
                placeholder="Buscar pago..."
                value="{{ query|default:'' }}">
        </form>
    </div>
    {% if "Administrador" in request.session.roles %}
    <a href="{% url 'reporte_pagos_pdf' %}" class="boton-registrar">
      Descargar Reporte PDF
    </a>
    <a href="{% url 'crear_pago' %}" class="boton-registrar">
      Registrar pago
    </a>
    {% endif %}
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Concepto</th>
        <th>Fecha</th>
        <th>Método</th>
        <th>Valor Total</th>
        {% if "Administrador" in request.session.roles %}<th>Acciones</th>{% endif %}
      </tr>
    </thead>

    <tbody>
      {% for pago in pagos %}
      <tr>
        <td>{{ pago.id }}</td>
        <td>{{ pago.concepto_pago }}</td>
        <td>{{ pago.fecha_pago }}</td>
        <td>{{ pago.metodo_pago }}</td>
        <td>{{ pago.valor_total }}</td>

        {% if "Administrador" in request.session.roles %}
        <td class="acciones">
          <button class="actualizar">
            <a style="text-decoration: none; color: white;"
               href="{% url 'editar_pago' pago.id %}">
               Actualizar
            </a>
          </button>

          {% if pago.cancelado %}
    <button style="background-color: green;">
        <a style="text-decoration: none; color: white;"
           href="{% url 'cancelar_pago' pago.id %}">
           Aprobar
        </a>
    </button>
{% else %}
    <button style="background-color: red;">
        <a style="text-decoration: none; color: white;"
           href="{% url 'cancelar_pago' pago.id %}">
           Cancelar
        </a>
    </button>
{% endif %}
        </td>
        {% endif %}
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No hay pagos registrados</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}