{% extends 'layout/menu.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stylepag.css' %}">
{% endblock %}


{% block content %}

<div class="contenido">

  <br>

  <div class="barra-top">
    <div class="barra-busqueda">
        <form method="get">
            <input type="text" name="q"
                placeholder="Buscar entrenamiento..."
                value="{{ query|default:'' }}">
        </form>
    </div>
    {% if "Administrador" in request.session.roles %}
    <a href="{% url 'crear_entrenamiento' %}" class="boton-registrar">
      Registrar entrenamiento
    </a>
    {% endif %}
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Lugar</th>
        <th>Observaciones</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for entrenamiento in entrenamientos %}
      <tr>
        <td>{{ entrenamiento.id_entrenamiento }}</td>
        <td>{{ entrenamiento.descripcion }}</td>
        <td>{{ entrenamiento.lugar }}</td>
        <td>{{ entrenamiento.observaciones }}</td>
        
        {% if "Administrador" in request.session.roles %}
        <td class="acciones">
            <button class="actualizar">
          <a style="text-decoration: none; color: white;"
             href="{% url 'editar_entrenamiento' entrenamiento.id_entrenamiento %}">
             Actualizar
          </a>
        </button>
        <button class="eliminar">
          <a style="text-decoration: none; color: white;"
             href="{% url 'eliminar_entrenamiento' entrenamiento.id_entrenamiento %}">
             Eliminar
          </a>
          </button>
        </td>
        {% endif %}
          <td class = "acciones">
              <button class="actualizar" style="background-color: green;">
                <a style="text-decoration: none; color: white;"
                  href="{% url 'lista_sesiones' entrenamiento.id_entrenamiento %}">
                  Ver sesiones
                </a>
              </button>
            </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="5">No hay entrenamientos registrados</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}