<div class="login-box" role="main">

  <h1>Registrar Matrícula</h1>

  <form method="POST">
    {% csrf_token %}

    <div class="Formgrupo">
      <label>Jugador:</label>
      <select name="id_jugador" required>
        <option value="">Seleccione un jugador</option>
        {% for u in usuarios %}
          <option value="{{ u.id_usuario }}">{{ u.nombre_completo }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="Formgrupo">
      <label>Fecha Inicio:</label>
      <input type="date" name="fecha_inicio" required>
    </div>

    <div class="Formgrupo">
      <label>Fecha Fin:</label>
      <input type="date" name="fecha_fin" required>
    </div>

    <div class="Formgrupo">
      <label>Fecha Matrícula:</label>
      <input type="date" name="fecha_matricula" required>
    </div>

    <div class="Formgrupo">
      <label>Nivel:</label>
      <select name="nivel" required>
        <option value="Alto">Alto</option>
        <option value="Medio">Medio</option>
        <option value="Bajo">Bajo</option>
      </select>
    </div>

    <div class="Formgrupo">
      <label>Observaciones:</label>
      <input type="text" name="observaciones">
    </div>

    {% if error %}
      <p style="color:red;">{{ error }}</p>
    {% endif %}

    <br>

  <div class="botones-form">
    <button type="submit" class="btn-guardar">Guardar</button>
    <br>
    <a href="{% url 'lista_matricula' %}" class="btn-cancelar">
        Cancelar
    </a>
  </div>

  </form>

</div>
