{% extends 'layout/menu.html' %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stylepag.css' %}">
{% endblock %}

{% block content %}

<div class="contenido">

  <br>

  <div class="barra-top">
    <div class="barra-busqueda">
        <form method="get">
            <input type="text" name="q"
                placeholder="Buscar jugador..."
                value="{{ query|default:'' }}">
        </form>
    </div>

    <a href="{% url 'crear_matricula' %}" class="boton-registrar">
      Registrar matrícula
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Jugador</th>
        <th>Nivel</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Fecha Matricula</th>
        <th>Observaciones</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for m in matriculas %}
      <tr>
        <td>{{ m.id }}</td>
        <td>{{ m.id_jugador.nombre_completo }}</td>
        <td>{{ m.nivel }}</td>
        <td>{{ m.fecha_inicio }}</td>
        <td>{{ m.fecha_fin }}</td>
        <td>{{ m.fecha_matricula }}</td>
        <td>{{ m.observaciones}}</td>


        <td class="acciones">
          <button class="actualizar">
            <a style="text-decoration: none; color: white;"
               href="{% url 'editar_matricula' m.id %}">
               Actualizar
            </a>
          </button>

          <button class="eliminar">
            <a style="text-decoration: none; color: white;"
               href="{% url 'eliminar_matricula' m.id %}">
               Eliminar
            </a>
          </button>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">No hay matrículas registradas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
