{% extends 'layout/menu.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stylepag.css' %}">
{% endblock %}

{% block content %}

<div class="contenido">

  <br>

  <h2>Movimientos de: {{ inventario.nombre_articulo }}</h2>

  <h3>Stock total: {{ stock_total }}</h3>

  <div class="barra-top">
    <div class="barra-busqueda">
      <form method="get">
        <input type="text" name="q"
               placeholder="Buscar movimiento..."
               value="{{ query|default:'' }}">
      </form>
    </div>
    <a class="boton-registrar"
        onclick="abrirModalMovimiento('{% url 'crear_movimiento' inventario.id_inventario %}')">
        + Registrar Entrada de Movimiento
    </a>
  </div>
<div class = "acciones">
  <button  onclick="guardarCambios()"  class="actualizar">Guardar cambios</button>
</div>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Fecha</th>
            <th>Observación</th>
            <th>Relacionado</th>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
{% for m in movimientos %}

<tr>
    <td>{{ m.id_movimiento }}</td>
    <td>{{ m.tipo_movimiento|capfirst }}</td>

    <td>
        {% if m.tipo_movimiento == 'entrada' %}
            <span style="color: green; font-weight: bold;">+{{ m.cantidad }}</span>
        {% elif m.tipo_movimiento == 'salida' %}
            <span style="color: red; font-weight: bold;">-{{ m.cantidad }}</span>
        {% elif m.tipo_movimiento == 'devolucion' %}
            <span style="color: orange; font-weight: bold;">+{{ m.cantidad }}</span>
        {% endif %}
    </td>

    <td>{{ m.fecha|date:"d/m/Y H:i" }}</td>

    <td>

    {% if m.tipo_movimiento == 'devolucion' or m.tipo_movimiento == 'salida' %}

        {{ m.observaciones|default:"-" }}

    {% else %}

        <input type="text"
               value="{{ m.observaciones }}"
               class="obs"
               data-id="{{ m.id_movimiento }}"
               
               maxlength="255">

    {% endif %}

</td>

    <td>
        {% if m.tipo_movimiento == 'devolucion' and m.movimiento_padre %}
            Devuelto de #{{ m.movimiento_padre.id_movimiento }}
        {% else %}
            -
        {% endif %}
    </td>

    <td>
        {{ m.usuario.nombre_completo }} <br>
        {{ m.usuario.num_identificacion }}
    </td>
</tr>

<!-- 🔥 SOLO mostrar hijas si NO estoy filtrando devoluciones -->
{% if not solo_devoluciones %}
    {% if m.tipo_movimiento == 'salida' %}
        {% for d in m.devoluciones.all %}
        <tr style="background-color: #fff3cd;">
            <td>↳ {{ d.id_movimiento }}</td>
            <td>Devolución</td>

            <td style="color: orange; font-weight: bold;">
                +{{ d.cantidad }}
            </td>

            <td>{{ d.fecha|date:"d/m/Y H:i" }}</td>

            <td>

    {% if d.tipo_movimiento == 'devolucion' or d.tipo_movimiento == 'salida' %}

        {{ d.observaciones|default:"-" }}

    {% else %}

        <input type="text"
               value="{{ d.observaciones }}"
               class="obs"
               data-id="{{ d.id_movimiento }}"
               
               maxlength="255">

    {% endif %}

</td>

            <td>
                De salida #{{ m.id_movimiento }}
            </td>

            <td>
                {{ d.usuario.nombre_completo }} <br>
                {{ d.usuario.num_identificacion }}
            </td>
        </tr>
        {% endfor %}
    {% endif %}
{% endif %}

{% endfor %}
</tbody>
</table>

</div>
<div class="modal fade" id="modalMovimiento">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" id="contenidoModalMovimiento">
      <!-- se carga aquí -->
    </div>
  </div>
</div>
<script>
function guardarCambios() {
    let inputs = document.querySelectorAll('.obs');

    let data = new URLSearchParams();

    inputs.forEach(input => {
        data.append('ids[]', input.dataset.id);
        data.append('observaciones[]', input.value);
    });

    fetch("{% url 'actualizar_observaciones' %}", {
        method: "POST",
        headers: {
            "X-CSRFToken": "{{ csrf_token }}"
        },
        body: data
    })
    .then(response => response.json())
    .then(data => {
        alert("Cambios guardados correctamente");
    });
}
</script>
<script>
function abrirModalMovimiento(url){
    fetch(url)
    .then(response => response.text())
    .then(html => {
        document.getElementById('contenidoModalMovimiento').innerHTML = html;

        var modal = new bootstrap.Modal(document.getElementById('modalMovimiento'));
        modal.show();
    });
}
</script>
{% endblock %}
