<div class="login-box" role="main">

  <h1>Categoría</h1>

  <form method="post">
    {% csrf_token %}

    <div class="Formgrupo">
      <label>Nombre de la categoría</label>
      <input type="text" name="nombre_categoria"
             value="{{ categoria.nombre_categoria|default:'' }}"
             placeholder="Ingrese el nombre de la categoría" required>
    </div>

    <br>

    <button type="submit">
      {% if categoria %}
        Actualizar categoría
      {% else %}
        Guardar categoría
      {% endif %}
    </button>

  </form>

</div>