{% extends 'layout/menu.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stylepag.css' %}">
{% endblock %}

{% block content %}

<div class="contenido">

  <br>

  <div class="barra-top">
    <div class="barra-busqueda">
        <form method="get">
            <input type="text" name="q"
                placeholder="Buscar categoría..."
                value="{{ query|default:'' }}">
        </form>
    </div>

    <a href="{% url 'crear_categoria' %}" class="boton-registrar">
      Registrar categoría
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for categoria in categorias %}
      <tr>
        <td>{{ categoria.id_categoria }}</td>
        <td>{{ categoria.nombre_categoria }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        

        <td class="acciones">
          <button class="actualizar">
            <a style="text-decoration: none; color: white;"
               href="{% url 'editar_categoria' categoria.id_categoria %}">
               Actualizar
            </a>
          </button>

          <button class="eliminar">
            <a style="text-decoration: none; color: white;"
               href="{% url 'eliminar_categoria' categoria.id_categoria %}">
               Eliminar
            </a>
          </button>
        </td>

      </tr>
      {% empty %}
      <tr>
        <td colspan="3">No hay categorías registradas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}