<div class="login-box" role="main">

<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}

<div class="Formgrupo">
  <label>{{ campo.label }}:</label>

  {% if campo.field.choices %}
    <select name="{{ campo.name }}">
      {% for valor, texto in campo.field.choices %}
        <option value="{{ valor }}"
          {% if campo.value == valor %}selected{% endif %}>
          {{ texto }}
        </option>
      {% endfor %}
    </select>
  {% else %}

    {% if campo.field.widget.input_type == 'file' and campo.value %}
      <img src="{{ MEDIA_URL}}/imagenes/{{ campo.value}}" width="100"><br>
    {% endif %}

    <input 
      type="{{ campo.field.widget.input_type }}"
      name="{{ campo.name }}"
      value="{% if campo.field.widget.input_type == 'date' %}{{ campo.value|date:'Y-m-d' }}{% else %}{{ campo.value|default:'' }}{% endif %}"
      placeholder="{{ campo.label }}">
  {% endif %}

  <div class="error">{{ campo.errors }}</div>

</div>

{% endfor %}
  <button type="submit">
    {% if formulario.instance.pk %}
      Actualizar Usuario
    {% else %}
      Guardar Usuario
    {% endif %}
  </button>

  <button type="button" onclick="history.back()">Volver</button>

</form>
</div>