{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}Escuela de Fútbol Pinze{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
  <div class="logo">
    <img src="{% static 'imagenes/logo.jpg' %}" alt="Logo Escuela de Fútbol Pinze" />
    <h2>Escuela de Fútbol Pinze</h2>
  </div>

  <nav>
    <a href="{% url 'inicio' %}">⚽ Inicio</a>
    <a href="{% url 'servicios' %}">🥅 Servicios</a>
    <a href="{% url 'nosotros' %}">🏆 Nosotros</a>
    <a href="{% url 'login' %}" class="iniciar-sesion">Iniciar sesión</a>
  </nav>
</header>

<!-- CONTENIDO DE CADA PAGINA -->
<main>
{% block content %}
{% endblock %}
</main>

<footer>
  <p>&copy; 2025 Escuela de Fútbol Pinze. Todos los derechos reservados.</p>

  <nav class="redes">
    <a href="https://www.facebook.com/PinzeColombia/" target="_blank">Facebook</a>
    <a href="https://www.instagram.com/pinzecolombia/" target="_blank">Instagram</a>
    <a href="https://goo.gl/maps/sUog16biK1m6GBp16" target="_blank">Ubicación</a>
  </nav>
</footer>

</body>
</html>