{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Escuela de Fútbol Pinze{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/style_pag_prin.css' %}">

  {% block extra_css %}
  {% endblock %}
</head>
<body>
  <aside class="menu">
    <a href="{% url 'pagina_original' %}" class="logo" aria-label="Logo Escuela de Fútbol Pinze">
      <img src="{% static 'imagenes/logo.jpg' %}" alt="Logo Escuela de Fútbol Pinze" />
    </a>

    <h2>⚽ Menú ⚽</h2>
    <ul>
      {% if "Administrador" in request.session.roles %}
      <li>
        <a href="{% url 'usuario' %}">Usuarios</a>
      </li>
      {% endif %}
      {% if "Administrador" in request.session.roles or "Entrenador" in request.session.roles or "Jugador" in request.session.roles %}
      <li>
        <a href="{% url 'mi_perfil' request.session.usuario_id %}">Mi Perfil</a>
      </li>
      {% endif %}
      {% if "Administrador" in request.session.roles or "Entrenador" %}
      <li>
        <a href="{% url 'lista_inventario' %}">Inventario</a>
      </li>
      {% endif %}
      {% if "Administrador" in request.session.roles or "Entrenador" %}
      <li>
        <a href="{% url 'lista_entrenamientos' %}">Entrenamiento</a>
      </li>
      {% endif %}
      {% if "Administrador" in request.session.roles or "Entrenador" %}
      <li>
        <a href="{% url 'lista_jugadores' %}">Rendimiento</a>
      </li>
      {% endif %}
      {% if "Administrador" in request.session.roles %}
      <li>
        <a href="{% url 'lista_categoria' %}">Categoría</a>
      </li>
      {% endif %}
      {% if "Administrador" in request.session.roles %}
      <li>
        <a href="{% url 'lista_matricula' %}">Matrícula</a>
      </li>
      {% endif %}
      {% if "Administrador" in request.session.roles %}
      <li>
        <a href="{% url 'lista_pagos' %}">Pago</a>
      </li>
      {% endif %}
    </ul>

    <a href="{% url 'logout' %}" class="cerrar-sesion">Cerrar sesión</a>
  </aside>

{% block content %}
{% endblock %}
    
</body>
</html>
