<div class="login-box" role="main">

  <h1>Sesión de Entrenamiento</h1>

  <form method="post">
    {% csrf_token %}

    <div class="Formgrupo">
        <label>Entrenamiento</label>
        <input type="text"
                value="{% if entrenamiento %}{{ entrenamiento.descripcion }}{% else %}{{ sesion.id_entrenamiento.descripcion }}{% endif %}"
                readonly>
    </div>

    {% if entrenadores %}
    <!-- 👑 ADMIN -->
    <div class="Formgrupo">
        <label>Entrenador</label>
        <select name="id_entrenador" required>
        {% for e in entrenadores %}
            <option value="{{ e.id_usuario }}">
            {{ e.nombre_completo }}
            </option>
        {% endfor %}
        </select>
    </div>
    {% endif %}

    <div class="Formgrupo">
      <label>Fecha</label>
      <input type="date" name="fecha"
             value="{{ sesion.fecha|date:'Y-m-d'|default:'' }}" required>
    </div>

    <div class="Formgrupo">
      <label>Hora inicio</label>
      <input type="time" name="hora_inicio"
             value="{{ sesion.hora_inicio|default:'' }}" required>
    </div>

    <div class="Formgrupo">
      <label>Hora fin</label>
      <input type="time" name="hora_fin"
             value="{{ sesion.hora_fin|default:'' }}" required>
    </div>

    <br>

    <button type="submit">
      {% if sesion %}
        Actualizar sesión
      {% else %}
        Guardar sesión
      {% endif %}
    </button>

  </form>

</div>
<script>
document.addEventListener("DOMContentLoaded", function () {

    const horaInicio = document.querySelector('input[name="hora_inicio"]');
    const horaFin = document.querySelector('input[name="hora_fin"]');

    function validarHoras() {
        if (horaInicio.value && horaFin.value) {
            if (horaFin.value <= horaInicio.value) {
                alert("La hora fin no puede ser menor o igual a la hora inicio");
                horaFin.value = ""; // limpia el campo incorrecto
            }
        }
    }

    horaInicio.addEventListener("change", validarHoras);
    horaFin.addEventListener("change", validarHoras);

});
</script>