{% extends 'layout/menu.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/stylepag.css' %}">
{% endblock %}

{% block content %}

<div class="contenido">

  <br>

  <div class="barra-top">
    <div class="barra-busqueda">
        <form method="get">
            <input type="text" name="q"
                placeholder="Buscar sesión...(DD/MM/AAAA)"
                value="{{ query|default:'' }}">
        </form>
    </div>

    <a href="{% url 'crear_sesion' entrenamiento.id_entrenamiento %}" class="boton-registrar">
      Registrar sesión
    </a>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Entrenamiento</th>
        <th>Entrenador</th>
        <th>Fecha</th>
        <th>Hora inicio</th>
        <th>Hora fin</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for sesion in sesiones %}
      <tr>
        <td>{{ sesion.id_sesion }}</td>
        <td>
          {{ sesion.id_entrenamiento.descripcion }} - 
          {{ sesion.id_entrenamiento.lugar }}
        </td>
        <td>{{ sesion.id_entrenador }}</td>
        <td>{{ sesion.fecha|date:"d/m/Y" }}</td>
        <td>{{ sesion.hora_inicio }}</td>
        <td>{{ sesion.hora_fin }}</td>

        <td class="acciones">
          <button class="actualizar">
            <a style="text-decoration: none; color: white;"
               href="{% url 'editar_sesion' sesion.id_sesion %}">
               Actualizar
            </a>
          </button>

          <button class="eliminar">
            <a style="text-decoration: none; color: white;"
               href="{% url 'eliminar_sesion' sesion.id_sesion %}">
               Eliminar
            </a>
          </button>
        </td>

          <td class = "acciones">
            <button class="actualizar" style="background-color: green;">
                <a style="text-decoration: none; color: white;"
                    href="{% url 'salidas_sesion' sesion.id_sesion %}">
                Ver movimientos
                </a>
            </button>
        </td>
      </tr>

      {% empty %}
      <tr>
        <td colspan="7">No hay sesiones registradas</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}